{% extends 'base.html' %}


{% block content %}
<h1> Tareas Pendientes </h1>
    <ul>
        {% for task in tasks %}
        <li> 
            <a href="{% url 'detalle_tareas' task.id %}">
                {% if task.importante %}
            <strong>{{task.titulo}}</strong>
            {% else %}
                {{task.titulo}}
            {% endif %}
            <p>{{task.descripcion}}</p>
            <p>{{task.user.username}}</p>
            <p>{{task.Fcompletado|date:'M j Y:i'}}</p>
            </a>
        </li>

    </ul>
{% endfor %}
{% endblock %}
